.day-common {
    border-width: 1px;
    border-color: #8080807a;
    border-style: solid;
    height: 17px;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    padding-top: 3px; 
}
  
.nothing {
    background: #ff5252;
}
  
.completed {
    background: #b7e1cd;
}
  
.vacation {
    background: #cccccc;
}
.month {
    width: 160px;
    height: 240px;
    display: inline-grid;
    padding: 5px;
}
  
.padding {
    border-color: white;
    color: white;
}

.month-container {
  flex-direction: row;
}

.calendar {
  max-width: 700px
}

.days-area {
  height: 160px;
}

.day-header {
  border-color: white;
}
  