/* You can add global styles to this file, and also import other style files */
.header-text {
    font-family: 'Roboto', sans-serif; 
}

.body-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}